@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --customBlack: #1a1b1d;
    --primaryColor: rgb(1, 72, 12);
    --primaryColorTransparent: rgba(2, 135, 22, 0.5); 
    --marginElementsSmall: 4px 0px;
}

html {
    font-family: "Montserrat", sans-serif  !important;
    font-size: 12px;
    color: white !important;
    background-color: var(--customBlack);
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

#app {
    width: 100%;
    margin: 0px 8px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}