@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --customBlack: #1a1b1d;
}

html {
    font-family: "Montserrat", sans-serif  !important;
    color: white !important;
}

body {
    background-color: var(--customBlack);
}